[Unit]
Description=Inquran Backend Service
After=network.target

[Service]
User=inquranprod
Group=inquranprod
WorkingDirectory=/opt/inquran/inquran-be

# using ts-node (debug):
# ExecStart=/usr/bin/npx ts-node src/main.ts

# compiled JS (prod)
ExecStart=/usr/bin/node dist/main.js

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
